<div class="container-fluid">

  <header>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand fs-1 text-center" href="#">Giphy</a>
      </div>
    </nav>
  </header>

  <div class="input-group input-group-lg search-bar">
    <input type="text" class="form-control" #gif  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    <button type="button" class="btn btn-dark" (click)="search(gif.value)"><i class="fas fa-search"></i></button>
  </div>

  <div class="container row gifs">
    <div class="row gif" *ngFor='let gif of gifs'>
      <img class="col" [src]="gif.images.downsized.url" alt="gif image">
    </div>
  </div>

  <app-display-gifs></app-display-gifs>
</div>